.catcard{
    width: 1080px;
    margin: auto;
}

.cards{
    float: left;
    margin: 10px;
    height: 200px;
    width: 200px; 
    background: rgb(170, 245, 226) 
}

img{
    float: left;
    height: 200px;
    width: 200px; 
    animation-duration: 1s;
    animation-direction: reverse;

}